<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
        <!-- <div formGroupName=""> -->
          <div class="form-group" >
            <label for="project">Project Name  </label>
            <p id="note" for="project">[ Test & Test2 are not valid]</p>
            <input type="text" class="form-control"
                  id="project"
                  formControlName="project">
            <span class="help-block"
              *ngIf="!myReactiveForm.get('project').valid && myReactiveForm.get('project').touched">
              <span *ngIf="myReactiveForm.get('project').pending">
                Checking email...
              </span>
              <span *ngIf="myReactiveForm.get('project').errors?.required">
                This field is required!
              </span>
              <span *ngIf="myReactiveForm.get('project').errors?.projectIsForbidden">
                Please enter a valid project name.
              </span>


            </span>
          </div>
          <hr>
          <div class="form-group" >
            <label for="email">Email:</label>
            <input type="email" class="form-control"
                  id="email"
                  formControlName="email">
            <span class="help-block"
              *ngIf="!myReactiveForm.get('email').valid && myReactiveForm.get('email').touched">
              <span *ngIf="myReactiveForm.get('email').errors?.email">
                Please enter a valid email.
              </span>
              <span *ngIf="myReactiveForm.get('email').errors?.required">
                This field is required!
              </span>
            </span>
          </div>

        <!-- </div> -->
          <hr>
          <div class="form-group">
            <label for="status">Status</label>
            <select id="status" class="form-control"
                  formControlName="status">
              <option value="stable">Stable</option>
              <option value="critical">Critical</option>
              <option value="finished">Finished</option>
            </select>
          </div>
        <div class="form-group">
          <button class="btn btn-outline-success" type="submit" [disabled]="!myReactiveForm.valid">
            Submit
          </button>
          <br>
          <span *ngIf="!myReactiveForm.valid && (myReactiveForm.touched && myReactiveForm.dirty)" >
            Please enter a valid data.
          </span>
        </div>

      </form>
      <hr>
      <pre>
        Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      </pre>
    </div>
  </div>
</div>
